<h1>About this Website</h1>

<p> I made this web application to review my Ruby on Rails. 
I followed the Udemy course "The Complete Ruby on Rails Developer Course"
taught by Mashrur Hossain. In this course, I learned how to code in Ruby, style a website, 
apply my Ruby skills onto a web app built from the ground up using Ruby on Rails.
Because of this, I have a thorough understanding of the Model, View, Controller architecture.
</p>