<div class="jumbotron">
  <div class = "container homepage-container">
    <h1>Welcome to my first blog</h1>
    <p>This is my first Ruby on Rails application built from the ground up</p>
    <p><%= link_to "Sign Up", signup_path, class: "btn btn-danger btn-lg" %></p>
  </div>
</div>